<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <NAI.Properties.Settings>
      <setting name="LoadCalibrations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SimulatorOriginOffset" serializeAs="String">
        <value>25, 101</value>
      </setting>
      <setting name="ServerCertificateSubject" serializeAs="String">
        <value>CN=Test Certificate, O=ITU, E=mtho@itu.dk, L=Copenhagen, C=DK</value>
      </setting>
      <setting name="SimulatorMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultStreamingFrameRate" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="UdpCallSign" serializeAs="String">
        <value>SecureTouch</value>
      </setting>
      <setting name="LoadAndSaveCalibrations" serializeAs="String">
        <value>True</value>
      </setting>
    </NAI.Properties.Settings>
  </applicationSettings>
</configuration>