<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NAIDevelopment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NAIDevelopment.Properties.Settings>
            <setting name="NAIServerCertificateSubject" serializeAs="String">
                <value>CN=Test Certificate, O=ITU, E=mtho@itu.dk, L=Copenhagen, C=DK</value>
            </setting>
            <setting name="SimulatorMode" serializeAs="String">
                <value>False</value>
            </setting>
        </NAIDevelopment.Properties.Settings>
    </applicationSettings>
</configuration>